<div class="panel panel-default">
  
  <div class="panel-heading">
      <p id="notice"><%= notice %></p>

    <h1>Listing Pins</h1>
  </div>
  
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th>Description<br></br></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
          <% @pins.each do |pin| %>
        <tr>
          <%# Outputs the pin image on the pins index (Pins) page %>
          <td><%= image_tag pin.image.url(medium) %></td>
          
          <td><%= pin.description %></td>
          <td><%= link_to 'Show', pin, class: 'btn btn-primary btn-xs'%></td>
          <td><%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-primary btn-xs'%></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs'%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="panel-footer"><%= link_to 'New Pin', new_pin_path %></div>
</div>